<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  scroll-padding-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 11px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
<tr>
    <th><p>Income By</p></th>
    <th>Order Date</th>
    <th>Fiverr Account</th>
    <th>Order Amount</th>
    <th>Percentage</th>
    <th>Fiverr Charge</th>
    <th>Client's Fiverr Id</th>
    <th>Client Fiverr Profile</th>
    <th>Client Name</th>
    <th>Client Email</th>
    <th>Order Page Url</th>
    <th>Remarks</th>
    <th>Team/Leader Name</th>
    <th>Order Status</th>
    <th>Delivery By</th>
    <th>Delivery Date</th>
    <th>Delivery Amount</th>
  </tr>
{% for row in data %}
  <tr>
    <td>{{row.order_recieve_person}}</td>
    <td>{{row.order_recieve_date}}</td>
    <td>{{row.order_recieve_fiverr_account}}</td>
    <td>{{row.order_amount}}</td>
    <td>{{row.order_amount_minus_percentage}}</td>
    <td>{{row.order_charges_for_fiverr}}</td>
    <td>{{row.client_fiverr_id}}</td>
    <td>{{row.client_fiverr_profile}}</td>
    <td>{{row.client_name}}</td>
    <td>{{row.client_email_address}}</td>
    <td>{{row.order_page_url}}</td>
    <td>{{row.order_spreadsheet_url}}</td>
    <td>{{row.order_remarks}}</td>
    <td>{{row.order_working_team_or_person_name}}</td>
    <td>{{row.order_status}}</td>
    <td>{{row.order_delivery_person}}</td>
    <td>{{row.order_delivery_date}}</td>
    <td>{{row.order_delivery_amount}}</td>
  </tr>
  {% endfor %}
</table>

<form method="post">
 {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Send message" /></p>
</form>
</body>
</html>
